/node_modules
/public/hot


/vendor
.htaccess
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resultado_busqueda.txt
resultado_busqueda_comite.txt
resultado_busqueda_concursos.txt
resultado_busqueda_total.txt
resultado_completo.txt
search_results.txt
storage/app/documentos/oAqccLQZ2tzmzhq6WrpcOGUINblQVnpmVkFKKrC5.pdf
storage/app/documentosasamblea/77LNoyji0srkQoEnEgQ7vkiyvDoBYNFcdBG3oKOY.pdf
storage/app/documentoscomite/
storage/app/documentosprogramas/6x1yFcf01twgThDwlvfbygF9HPnZSF3LUYBv2eMt.pdf
storage/app/documentosprogramas/ObHviAKSA7kEGR8YUxiOz21ynfGrI2qVqEMlnqmG.pdf
storage/app/documentosprogramas/PDF\ DE\ EJEMPLO1.pdf
