.tituloform{
    color: #565656;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.titulodocsdes{
    color: #F59120;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.divtitulodocsdes{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}


.titulodoc {
color: #FFF;
font-family: 'Inter';
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


#titulositio{
  

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#descripcionsitio{

    color: #565656;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}
