@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold; /* Indica que esta es la versión en negrita */
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Indica que esta es la versión ExtraBold */
  }


  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
    font-family: 'Inter' !important;
      src: url('/fonts/Inter-Regular.ttf') format('truetype');
  }

  


  h1{
    text-align: center;
}

.nav-link{
    font-family: 'Inter' !important;
      src: url('/fonts/Inter-Regular.ttf') format('truetype');
      color: white !important;
    
  }

 
#banner {
    background-color: #D9D9D9 !important; /* Color gris */
}

#thumbnail-slider .carousel-control-prev,
#thumbnail-slider .carousel-control-next {
  background-color: #555; /* Color gris para los controles */
  position: absolute;
  top: calc(50% - 15px); /* Centrar verticalmente */
  bottom: auto; /* Eliminar espacio por debajo */
  height: 30px; /* Altura de los controles */
}

#thumbnail-slider .carousel-control-prev-icon,
#thumbnail-slider .carousel-control-next-icon {
  background-color: #fff; /* Color blanco para los íconos de los controles */
}

#thumbnail-slider .carousel-indicators button {
    width: 10px; /* Ancho del botón */
    height: 10px; /* Altura del botón */
    border-radius: 50%; /* Hacer el botón redondo */
  }
.carousel-indicators{
    position: relative !important;
}

.carousel-indicators [data-bs-target]{
    background-color: grey;
}

.headercontent{
    place-content: center;
}

.colinputbuscador{
    align-self: center;
}
#inputbucador {
  width: 68%; /* Ancho del 68% de la pantalla */
  height: 80px;
  top: 1vh;
  border-radius: 100px !important;
}

/* Estilos específicos para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  #inputbucador {
      width: 90%; /* Ancho del 90% de la pantalla para dispositivos más pequeños */
  }
}

/* Estilos específicos para pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #inputbucador {
      width: 80%; /* Ancho del 80% de la pantalla para dispositivos medianos */
  }
}

/* Estilos específicos para pantallas grandes (computadoras) */
@media only screen and (min-width: 1024px) and (max-width: 2500px) {
  #inputbucador {
      width: 68%; /* Ancho del 68% de la pantalla para pantallas de hasta 2500px */
  }
}

/* Estilos específicos para pantallas muy grandes (mayores a 2500px) */
@media only screen and (min-width: 2501px) {
  #inputbucador {
      width: 68%; /* Puedes ajustar este valor según sea necesario para pantallas mayores a 2500px */
  }
}

.TitulocarouselTD{
    /*font-family: Inter;*/
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.titulohome{
  color: #FFF;

font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: start;
width: 100%;
}

.descripcionhome{
  color: #FFF;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: start;
width: 100%;
}


.bannerinferior{
  color: #565656;

font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 65%;
text-align: -webkit-left;

}
.contenidobannerinferior{
  color: #565656;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.bg-gray-300{
  background-color: #D9D9D9;
  width: 299px;
height: 268px;
border-color: #d9d9d9;
}

.bg-body-tertiary{
  background: rgba(217, 217, 217, 0.50);
}

.bg-body-tertiary {
  height: 413px;
  width: 100vw; /* Establece el ancho al 100% del ancho de la ventana del navegador */
  margin-left: calc(-50vw + 50%); /* Centra el banner en la pantalla */
  margin-right: calc(-50vw + 50%);
  border-radius: 0; /* Elimina el borde redondeado que puede tener el banner */
}

.centrar{
  margin-left: calc(6vw + 15%);
}

/* Media query para pantallas pequeñas */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .bannerinferior,
  .contenidobannerinferior,
  .btn-outline-primary {
      margin-left: calc(5vw + 5%);
      margin-right: calc(5vw + 5%);
  }
}

/* Media query para pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .bannerinferior,
  .contenidobannerinferior,
  .btn-outline-primary {
      margin-left: calc(7.5vw + 7.5%);
      margin-right: calc(7.5vw + 7.5%);
  }
}

/* Media query para pantallas grandes (computadoras) */
@media only screen and (min-width: 1024px) {
  .bannerinferior,
  .contenidobannerinferior,
  .btn-outline-primary {
      margin-left: calc(10vw + 10%);
      margin-right: calc(10vw + 10%);
  }
}

 /* Agrega estilos para el margen entre los slides */
 #thumbnail-slider .carousel-item {
  margin-right: 20px;
}

/* Corrige el margen del último elemento */
#thumbnail-slider .carousel-item:last-child {
  margin-right: 0;
}


.card-title{
  color: #565656;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text{
  color: #565656;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.btn-vertodos{
  
  border-radius: 20px;
  background: #F59120;
  border: none;

}

.titulotramites{
  color: #565656;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.descripciontramites{
  color: #565656;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%; /* Ajustar a la altura deseada */
}

.carousel-item img {
  max-width: 100%; /* Asegurar que la imagen no exceda el ancho del contenedor */
}

.carousel-caption {
 
  color: #fff;
  padding: 15px;
  text-align: center;
}

.titulotramites {
  width: 200px;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.descripciontramites {
  font-size: 1rem;
}

.carousel-item {
  border-radius: 10px; /* Ajusta el valor según la curvatura deseada */
  overflow: hidden; /* Asegura que el contenido no se extienda más allá del contenedor redondeado */
}

.carousel-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel-item {
  max-height: 300px; /* Establece la altura máxima que desees */
  overflow: hidden;
}

.carousel-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 80%;
}

.tituloprensa{
  position: absolute; top: 35px; left: 0px;
  
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.descripcionprensa{

  text-align: center; margin-top: 50%; transform: translateY(-50%);
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h5.footer-col-title {
  padding-bottom: 20px;
}



.irnoticia{
  
  text-decoration: none;
  color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.home-descripcion{
  color: #565656;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.titleshome{
  color: #565656;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
